@use '../../styles/colors.scss' as color;

.list {
    margin: 0;
    display: flex;
    overflow: hidden;
    gap: 1em;
    background: color.$surface-2;
    padding: 0.5em;
    scroll-snap-type: x mandatory;
    scroll-padding-left: 0.5em;
    width: 100%;
    max-width: 100%;
    li {
        list-style: none;
        scroll-snap-align: start;
        button {
            line-height: 1.2em;
            padding: 0.5em 1em;
            border: 1px solid color.$outline;
            white-space: nowrap;
            &.active {
                color: color.$on-primary;
                background-color: color.$primary;
            }
        }
    }
}