@import '../../styles/colors.scss';

.container {
    width: 100%;
    height: fit-content;
    background: $surface;
    ul {
        margin: 0;
        padding: 0.5em;
        li {
            display: flex;
            align-items: center;
            gap: 0.5em;
            padding-right: 1em;
            padding-left: 1em;
            margin-bottom: 0.5em;
            list-style-type: none;
            line-height: 2.5em;
            border-radius: 0.5em;
            font-size: small;
            overflow: hidden;
            white-space: nowrap; 
            text-overflow: ellipsis;
            cursor: pointer;
            &.active {
                background: $surface-2;
            }
            &:hover {
                background: $surface-2;
            }
        }
    }
}