@use '../../styles/colors.scss' as color;

.player-container {
    // width: 70%;
    // aspect-ratio: 2;
    width: 100%;
    height: 100%;
    resize: both;
}
.container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.loader {
    border: 16px solid color.$background;
    border-radius: 50%;
    border-top: 16px solid color.$primary;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}