@use '../../styles/colors.scss' as color;

$small: 400px;
$medium: 600px;
$large: 1000px;
$xlarge: 1200px;

.backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba($color: #000000, $alpha: 0.8);
    overflow: scroll;
}

.container {
    position: absolute;
    max-width: 1000px;
    width: 100%;
    min-height: 50vh;
    // background-color: color.$surface;
    top: calc(60px);
    left: 50%;
    transform: translate(-50%,0);
    display: grid;
    padding-top: 1em;
    @media screen and (min-width: $small) {
        grid-template-columns: auto;
    }
    @media screen and (min-width: $medium) {
        grid-template-columns: repeat( 2, 1fr );
    }
    @media screen and (min-width: $large) {
        grid-template-columns: repeat( 4, 1fr );
        margin-left: 5em;
        margin-right: 5em;
    }
    // @media screen and (min-width: $xlarge) {
    //     grid-template-columns: repeat( 5, 1fr );
    // }
}