@import 'colors.scss';

button {
    border: none;
    border-radius: 999px;
    padding: 10px 20px;
    cursor: pointer;
    transition: opacity 0.3s;

    &[color="primary"] {
        background-color: $primary;
        color: $on-primary;
    }
    &[color="secondary"] {
        background-color: $secondary;
        color: $on-secondary;
    }
    &:hover {
        opacity: 0.9;
    }
    &[color="outline"] {
        background-color: transparent;
        border: 1px solid $outline;
        color: $primary;
        &:hover {
            background: $surface-2;
        }

    }
    &[data-shape="icon"] {
        padding: 6px 20px;
    }
    &[data-shape="none"] {
        aspect-ratio: 1; 
        padding: 6px;
        border: none;
    }
}