$primary: #B2C9DE;
$on-primary: #1C3343;
$primary-container: #33495A;
$on-primary-container: #CDE6FB;

$secondary: #C3C7CC;
$on-secondary: #2C3135;
$primary-secondary:#43474C;
$on-primary-secondary: #DFE3E8;

$teritary: #CBC4D2;
$on-teritary: #332F39;
$primary-teritary:#494550;
$on-primary-teritary: #E7E0EE;

$error: #FFB4AB;
$on-error: #690005;
$primary-error:#93000A;
$on-primary-error: #FFB4AB;

$background: #1B1C1C;
$on-background: #E4E2E2;
$surface: #1B1C1C;
$on-surface: #E4E2E2;

$surface-variant: #454749;
$on-surface-variant: #C6C6C8;
$outline: #909193;

$surface-1: linear-gradient(0deg, rgba(178, 201, 222, 0.05), rgba(178, 201, 222, 0.05)), #1B1C1C;
$surface-2: linear-gradient(0deg, rgba(178, 201, 222, 0.08), rgba(178, 201, 222, 0.08)), #1B1C1C;
$surface-3: linear-gradient(0deg, rgba(178, 201, 222, 0.11), rgba(178, 201, 222, 0.11)), #1B1C1C;
$surface-4: linear-gradient(0deg, rgba(178, 201, 222, 0.12), rgba(178, 201, 222, 0.12)), #1B1C1C;
$surface-5: linear-gradient(0deg, rgba(178, 201, 222, 0.14), rgba(178, 201, 222, 0.14)), #1B1C1C;